


.item-img-content {
  position: relative;
}


.recommend_image_one{
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.abc{
  color:lightgreen;
}


.content_post{
  height: 200px;
  width: 200px;
}